.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.heading-filter {
  font-family: Roboto;
  color: #475569;
}
.input-search-style {
  height: 35px;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: 50px;
}
.clear-filter {
  height: 35px;
  border-radius: 5px;
  background-color: transparent;
  font-family: roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0967d2;
  border: 3px dotted #0967d2;
  font-weight: bolder;
}
